<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Notepad</span>
    <span class="example-spacer"></span>
    
  
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>New List</span>
      </button>
      <button mat-menu-item>
        <mat-icon>note</mat-icon>
        <span>New Note</span>
      </button>
      <button mat-menu-item>
        <mat-icon>create_new_folder</mat-icon>
        <span>New Folder</span>
      </button>
    </mat-menu>
    
  </mat-toolbar>
  
  